.footer-custom {
  background-color: #3f4346; /* dark  background */
  color: white;
  border-top: 3px solid #f05023; /* brand orange as an accent line */
}

.footer-custom a {
  text-decoration: none;
  transition: color 0.3s;
}

.footer-custom a:hover {
  color: #ffffff !important; /* white on hover */
}

/* this is the fixed footer for all pages */
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

/* static footer only for signup */
.footer-not-fixed {
  position: static;
  width: 100%;
}