# create a .env file in the omniagent folder
# in that file, paste the following and add keys
# keys can be found in github settings for this repository 
# under the secrets and variables section

OPENAI_BASE_URL=https://rgvaiclass.com/v1
OPENAI_API_KEY=add_key_here
LIBRARY_API_BASE_URL=http://127.0.0.1.8000
SERPAPI_API_KEY=add_key_here
