# create a .env file in the omniagent folder
# in that folder, paste the following and make modifications

OPENAI_BASE_URL=https://rgvaiclass.com/v1
OPENAI_API_KEY=modify_key_in_github_settings_secrets
LIBRARY_API_BASE_URL=http://127.0.0.1.8000
SERPAPI_API_KEY=modify_key_in_github_settings_secrets
