# create a .env file in the omniagent folder
# in that file, paste the following and input the keys that I gave you in person
# do not input the 2nd key (the really long one) I gave you anymore.


OPENAI_BASE_URL=https://rgvaiclass.com/v1
OPENAI_API_KEY=add_key_here
LIBRARY_API_BASE_URL=http://127.0.0.1.8000

